* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background: #F4D8CD;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: #F4D8CD;
}

/* Navbar Section */
#navbar {
    color: #F4D8CD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}
#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a {
    padding: 0.5rem;
}
#navbar ul li a:hover {
    background: #1E555C;
    border-radius: 10px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h1 {
    margin: 0.5rem;
}

/* Home Section */
#home {
    color: #3A2E39;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
#home img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}
#home .name h2 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
#home .name p {
    opacity: 0.6;
    font-style: italic;
}

/* Certificate Section */
#certificate {
    color: #F4D8CD;
    padding: 1rem;
}
#certificate .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#certificate .items .item {
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}
#certificate .items .item a {
    padding: 0.5rem;
}
#certificate .items .item a:hover {
    background: #1E555C;
    border-radius: 10px;
}

/* Experience Section */
#experiences {
    color: #3A2E39;
    padding: 1rem;
}
.experiences {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.experiences .experience {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.experiences .experience .experience-image {
    margin-right: 0.5rem;
    position: relative;
}
.experiences .experience .experience-image img {
    width: 75%;
    border-radius: 5px;
}
.experiences .experience .experience-image span{
    background: #F15152;
    padding: 0.25rem;
    color: #F4D8CD;
    border-radius: 4px;
    position: absolute;
    top: 15px;
    left: 0;
}
.experiences .experience .experience-info .title {
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 0.25rem;
}
.experiences .experience .experience-info .description {
    letter-spacing: 1.2px;
    margin-bottom: 0.25rem;
    opacity: 0.6;
}
.experiences .experience .experience-info .timezone {
    letter-spacing: 0.8px;
    margin-bottom: 0.25rem;
    opacity: 0.6;
}
.experiences .experience .experience-info .locate {
    letter-spacing: 0.8px;
    margin-bottom: 0.25rem;
    opacity: 0.6;
}